@font-face {
    font-family: "Hi_Melody";
    src: url("./Hi_Melody/HiMelody-Regular.ttf");
}

@font-face {
    font-family: "Lobster", cursive;
    src: url("./Lobster/Lobster-Regular.ttf");
}

@font-face {
    font-family: 'Russo One', sans-serif;
    src: url("./Russo_One/RussoOne-Regular.ttf");
}

